<div class="distributer">
  <a href="<%= source_of_product.link%>" class="distributerDetails">
    <div class="details">
      <img src="<%= source_of_product.image%>"/>
      <p><%= source_of_product.name%></p>
    </div>
    <div class="price">
      <p><%= source_of_product.price%></p>
    </div>
  </a>
</div>