header{
    width: 100%;
    border-bottom: 1px solid var(--secondary);
}
.header{
    display: grid;
    gap: 1rem;
}
.headerContainer{
    display: flex;
    align-items: center;
    justify-content: center;
}
.headerContainerBottom{
    gap: 1rem;
    display: grid;
}
.categories{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .8rem;
}
.category {
    position: relative;
}
.sub-categories {
    position: absolute;
    background: white;
    /* Om den trenger mer plass så tar den det*/
    min-width: 100%;
    border: 1px solid black;
}
.categories .category button{
    font-weight: 600;
    font-size: .8rem;
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 100ms;
}
.categories button:hover{
    transform: scale(1.2);
}

.searchBarContainer{
    border: 1px solid black;
}
.searchBar{
    display: flex;
}
.searchBar button{
    background-color: transparent;
    border: none;

    display: grid;
    align-items: center;
    justify-content: center;

    transition: 100ms;
}
.searchBar button:hover{
    transform: scale(1.2);
}
.searchBar input{
    border: none;
}


@media (min-width:801px){
    .headerContainerBottom{
        gap: 10rem;
        display: flex;
    }

}
