.topTitle{
    font-weight: 700;
}
.bottomTitle{
    font-weight: 500;
    font-family: 'Times New Roman', Times, serif;
}

.productContainer{
    margin: 2rem 0;
}
.products{
    width: 20rem;
    display: flex;
    overflow-x: scroll;
}
.product{
    margin: .7rem;
    width: 6rem;
}
.product img{
    width: 100%;
}

.priceChangeDirection{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .4rem;
    margin: .5rem 1rem;
    border-radius: .5rem;
    border: 1px solid #dedede;
    background-color: #d3d3d3;
    padding: .1rem .4rem;
    position: absolute;

}
.priceChangeDirection.increase{
    color: red;
}
.priceChangeDirection.decrease{
    color: green;
}

.productBottomContainer{
    padding: 1rem;
}
.productBottomContainer p{
    font-size: .4rem;
}

@media (min-width:1205px){
    .products{
        width: 100%;
    }
    .product{
        width: 13rem;
    }
    .productBottomContainer p{
        font-size: .5rem;
    }

}
@media (min-width:800px){

    .products{
        width: 800px;
        overflow-x: scroll;
    }
}