.topTitle{
    font-weight: 700;
}
.bottomTitle{
    font-weight: 500;
    font-family: 'Times New Roman', Times, serif;
}

.productContainer{
    margin: 2rem 0;
}
.products{
    width: 100%;
    display: flex;
    overflow-x: scroll;
}
.product{
    margin: .7rem;
    width: 13rem;
}
.product img{
    width: 100%;
}
.productBottomContainer{
    padding: 1rem;
}
.productBottomContainer p{
    font-size: .7rem;
}
@media (min-width:961px){

    .products{
        width: 961px;
        overflow-x: scroll;
    }
}