<section data-controller="custom-tracker">
<h1>Create custom tracked product</h1>

<form data-action="submit->custom-tracker#changeUrl">
  <label for="url" >Url:</label>
  <input type="text" id="url" data-custom-tracker-target="url" />
  <button type="submit">Get website</button>
</form>

<iframe src="https://www.w3schools.com" title="W3Schools Free Online Web Tutorials" data-custom-tracker-target="iframe"></iframe>
</section>