<div>
  <a href="<%= product_path(product) %>" class="card product">
    <div class="productTopContainer">
      <img src="<%= product.image %>"/>
    </div>
    <div class="productBottomContainer">
      <p class="productName"><%= product.name %>
    </div>
  </a>
</div>
