<div class="productDetails">
    <div class="productDetailsContainer">
        <img src="<%= @product.image%>"/>
        <p class="productDetailName"><%= @product.name%></p>
    </div>

    <div class="productDistributors">
      <%= render @product.source_of_products %>
    </div>
</div>

<!-- *docs: https://chartkick.com-->
<%= line_chart @price_records, title: "Pris historie", xtitle:"Dato", ytitle:"Pris", thousands:" ", suffix:" kr" %>


